# Секреты — никогда не коммитим
.env
*.env
!.env.example

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# Airflow
airflow.db
airflow.cfg
logs/
